/* * {
  margin: 0px;
  padding: 0px;
} */

input {
  position: sticky;
  left: 120px;
}

span {
  position: sticky;
  left: 300px;
}

section#figures {
  display: flex;
}

section#controls {
  padding: 20px;
}

figcaption {
  font-style: italic;
}

body {
  color: #ffffff;
  font-family: sans-serif;
	background-color: rgb(28, 28, 28);
	width: 100vw;
	height: 100vh;
  /*overflow: hidden;*/
}

#rect1 {
  width: 100vw;
  height: 100px;
  bottom: 0px;
  position: fixed;
  visibility: hidden;
}

#rect2 {
  width: 100vw;
  height: 100px;
  bottom: 100px;
  position: fixed;
  visibility: hidden;
}

#rect3 {
  width: 100vw;
  height: 100px;
  bottom: 200px;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
}

#rect4 {
  width: 100vw;
  height: 100px;
  bottom: 300px;
  position: fixed;
  visibility: hidden;
}